
<?php
$products = collect();
foreach ($categories as $category) {
    $products = $products->merge($category->products);
}
$products_items  = $products->sortByDesc('sold_items');
$products_totals = $products->sortByDesc('sold_totals');
?>

<div class="scoreboard scoreboard-title">

    <div class="scoreboard-item title-value">
        <h4>Best Seller by Sales Price</h4>
        <p class="oc-icon-calculator">
            <?= $products_totals->first()->name; ?>
        </p>
        <p class="description">
            total amount: £<?= $products_totals->first()->sold_totals; ?><br />
            quantity sold: <?= $products_totals->first()->sold_items; ?>
        </p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>Best Seller by Quantity</h4>
        <p class="oc-icon-calculator">
            <?= $products_items->first()->name; ?>
        </p>
        <p class="description">
            total amount: £<?= $products_items->first()->sold_totals; ?><br />
            quantity sold: <?= $products_items->first()->sold_items; ?>
        </p>
    </div>

</div>

<div class="scoreboard">

    <div class="panel scoreboard-item scoreboard-chart">
        <h4>Best Sellers by amount</h4>
        <div
            class="control-chart centered wrap-legend"
            data-control="chart-pie"
            data-size="300">
            <ul>
                <?php foreach ($products_totals->take(10) as $product) { ?>
                    <li><?= $product->name; ?><span><?= $product->sold_totals; ?></span></li>
                <?php } ?>
            </ul>
        </div>
    </div>

    <div class="panel scoreboard-item scoreboard-chart">
        <h4>Best Sellers by quantity</h4>
        <div
            class="control-chart centered wrap-legend"
            data-control="chart-pie"
            data-size="300">
            <ul>
                <?php foreach ($products_items->take(10) as $product) { ?>
                    <li><?= $product->name; ?><span><?= $product->sold_items; ?></span></li>
                <?php } ?>
            </ul>
        </div>
    </div>

</div>

<div class="scoreboard">

    <div class="panel scoreboard-item scoreboard-chart">
        <h4>Worst Sellers by amount</h4>
        <div
            class="control-chart centered wrap-legend"
            data-control="chart-pie"
            data-size="300">
            <ul>
                <?php foreach ($products_totals->reverse()->take(10) as $product) { ?>
                    <li><?= $product->name; ?><span><?= $product->sold_totals; ?></span></li>
                <?php } ?>
            </ul>
        </div>
    </div>

    <div class="panel scoreboard-item scoreboard-chart">
        <h4>Worst Sellers by quantity</h4>
        <div
            class="control-chart centered wrap-legend"
            data-control="chart-pie"
            data-size="300">
            <ul>
                <?php foreach ($products_items->reverse()->take(10) as $product) { ?>
                    <li><?= $product->name; ?><span><?= $product->sold_items; ?></span></li>
                <?php } ?>
            </ul>
        </div>
    </div>

</div>

<div class="scoreboard">
    <h3>Best sellers by Category by Amount</h3>
    <?php foreach ($categories as $category) { ?>
        <div class="panel scoreboard-item scoreboard-chart">
            <h4><?= $category->name; ?></h4>
            <div
                class="control-chart centered wrap-legend"
                data-control="chart-pie"
                data-size="300"
                data-center-text="<?= $category->name; ?>">
                <ul>
                    <?php foreach ($category->products as $product) { ?>
                        <li><?= $product->name; ?><span><?= $product->sold_totals; ?></span></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    <?php } ?>
</div>