<?php
$i      = 0;
$count  = count($monthly_sales) - 1;
$output = "";
foreach ($monthly_sales as $date => $sales) {
    $key    = new \DateTime($date);
    $format = $key->format('U') * 1000;
    $amount = 0;
    foreach ($sales as $sale) {
        $amount += $sale->getSubTotal();
    }
    $output .= "[{$format}, {$amount}]";
    if ($i < $count) $output .= ", ";
    $i++;
}
?>

<div class="scoreboard scoreboard-title">
    <h4>Monthly Sales (Excludes shipping)</h4>
    <div
        style="width: calc(100vw - 200px); height: 400px;"
        data-control="chart-line"
        class="height-400">
        <span
            data-chart="dataset"
            data-set-color="#008dc9"
            data-set-data="<?= $output ?>"
            data-set-name="Monthly Sales">
        </span>
    </div>
</div>
