<div class="scoreboard scoreboard-title">

    <div class="scoreboard-item title-value">
        <h4>Sales</h4>
        <p>£<?= number_format($total - $shipping, 2); ?></p>
        <p class="description">
            Total: £<?= number_format($total, 2); ?><br />
            Shipping: £<?= number_format($shipping, 2); ?></p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>Quantity Sold</h4>
        <p><?= $items; ?></p>
        <p class="description">
            Shipped: <?= $shipped; ?><br />
            Not Shipped: <?= $items - $shipped; ?></p>
    </div>

</div>

<div class="scoreboard" style="display: grid; grid-template-columns: 1fr 1fr;">

    <div class="panel scoreboard-item">
        <h3>Sales by Category</h3>
        <div class="control-chart wrap-legend"
            data-control="chart-bar"
            data-height="200"
            data-full-width="1">
            <ul>
                <?php
                $sales_categories = $categories->sortByDesc("sold_totals");
                foreach ($sales_categories as $category) { ?>
                    <li><?= $category->name; ?><span><?= number_format($category->sold_totals, 2); ?></span></li>
                <?php } ?>
             </ul>
         </div>
    </div>

    <div class="panel scoreboard-item">
        <h3>Quantity by Category</h3>
        <div class="control-chart wrap-legend"
            data-control="chart-bar"
            data-height="200"
            data-full-width="1">
            <ul>
                <?php
                $sales_categories = $categories->sortByDesc("sold_items");
                foreach ($sales_categories as $category) { ?>
                    <li><?= $category->name; ?><span><?= $category->sold_items; ?></span></li>
                <?php } ?>
            </ul>
         </div>
    </div>

</div>
