<form method="POST" data-request="onGetData">

    <div class="form-group span-left">
        <label>From Date</label>
        <input type="date" name="from" value="<?= $from ?>" class="form-control" />
    </div>

    <div class="form-group span-right">
        <label>To Date</label>
        <input type="date" name="to" value="<?= $to ?>" class="form-control" />
    </div>

    <button class="btn btn-default" type="submit">Generate Report</button>

</form>

<div id="report">
    <div class="control-tabs content-tabs" data-control="tab">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#overview">Overview</a></li>
            <li><a href="#monthly">Sales By Month</a></li>
            <li><a href="#best-worst">Best / Worst Sellers</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active">
                <div id="overview">
                    <?= $this->makePartial('overview'); ?>
                </div>
            </div>

            <div class="tab-pane">
                <div id="monthly">
                    <?= $this->makePartial('monthly'); ?>
                </div>
            </div>

            <div class="tab-pane">
                <div id="best-worst">
                    <?= $this->makePartial('bestworst'); ?>
                </div>
            </div>

        </div>

    </div>

</div>

<style>
#report {
    margin-top: 2.5rem;
}
.scoreboard-title {
    margin: 2.5rem 0 0 2.5rem;
}
.scoreboard-chart {
    height: 400px;
}
</style>