<div id="product" itemscope itemtype="http://schema.org/Product">

    <h1 itemprop="name">{{ product.name }}</h1>
    
    <div class="grid">

        <div>
            {% if product.images %}
                <div class="images">
                    {% if product.images|length > 0 %}
                        {% for image in product.images %}
                            <a href="{{ image.getPath() }}" title="{{ product.name }}"><img src="{{ image.getPath() }}" alt="{{ image.name }}" class="product-image" itemprop="image" /></a>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        
        <div class="options">

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {% set price = product.price|number_format(2, '.', ',') %}
                {% if product.discount_price %}
                    {% set price = product.discount_price|number_format(2, '.', ',') %}
                    <span class="regular-price">£{{ product.price }}</span>
                {% endif %}
                <span class="price">
                    <span itemprop="priceCurrency" content="GBP">£</span><span itemprop="price" content="{{ price }}">{{ price }}</span>
                </span>
            </div>

            <div class="reviews">
                {% if product.published_reviews|length > 0 %}
                    {% set whole = product.getRating()|number_format %}
                    {% for i in 0..whole %}
                        <i class="las la-star"></i>
                    {% endfor %}
                    <a href="#reviews" title="Reviews"><small>({{ product.published_reviews|length }} reviews)</small></a>
                {% else %}
                    <a href="#reviews" title="Reviews">No Reviews</a>
                {% endif %}
            </div>

            {% if product.is_active %}
            <form data-request="onAddToCart">
                <input type="hidden" value="{{ product.id }}" name="id" />
                <label>Quantity</label>
                <input type="number" value="1" min="1" name="quantity" />
                {% if product.custom %}
                    {% for field in product.custom %}
                        <div>
                            <label>{{ field.name }}</label>
                            {% if field.options %}
                                {% set options = field.options|split(',') %}
                                <select name="custom[{{ field.name|trim }}]">
                                    {% for option in options %}
                                    <option value="{{ option|trim }}">{{ option|trim }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" name="custom[{{ field.name|trim }}]" />
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                <div>
                    <button type="submit" id="add-to-cart">Add to Cart</button>
                </div>

                <p><a href="{{ cart_page }}" title="Cart" class="cart">£{{ cart_total.sub_total|number_format(2, '.', ',') }} Checkout</a></p>

            </form>
            {% endif %}
        </div>

    </div>

    <section class="description">
        <h2>Description</h2>
        <div itemprop="description">{{ product.description|raw }}</div>
    </section>

    <section id="reviews">
        <h2>Customer Reviews</h2>
        <a href="#submit-review" title="Write a Review" class="modal-open">Write a Review</a>

        {% if message %}<div class="message">{{ message }}</div>{% endif %}

        {% if product.published_reviews|length > 0 %}
            <div class="reviews-list">
                {% for review in product.published_reviews %}
                    <div class="review">
                        <div>{% for i in 1..review.rating %}<i class="fa fa-star"></i>{% endfor %}</div>
                        <div class="content">
                            <p class="title"><strong class="headline">{{ review.headline }}</strong><span class="author">By {{ review.name }}{% if review.location %} from {{ review.location }}{% endif %} on {{ review.created_at|date('d/m/y') }}</span></p>
                            <p>{{ review.comments }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="submit-review" class="modal" aria-hidden="true">
            <div class="content" tabindex="-1">
                <div role="dialog" aria-modal="true" aria-labelledby="submit-review-title" >
                    <header>
                        <h2 id="submit-review-title">Add Review</h2>
                        <button class="close" aria-label="Close modal">X</button>
                    </header>
                    <div id="submit-review-content">
                        <form method="POST" data-request="onSubmitReview">
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <input type="email" name="email" />
                            <label>Name *</label>
                            <input type="text" name="name" {% if user %}value="{{ user.name }} {{ user.surname }}" {% endif %}required />
                            <label>Your Location</label>
                            <input type="text" name="location" />
                            <label>Email *</label>
                            <input type="email" name="emailaddress" {% if user %}value="{{ user.email }}" {% endif %}required />
                            <label>Rating *</label>
                            <select name="rating" required>
                                <option value="">Select Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <label>Headline *</label>
                            <input type="text" name="headline" required />
                            <label>Comments</label>
                            <textarea name="comments"></textarea>
                            <button type="submit">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>