<div class="report-widget">
    <h3>Shop Overview</h3>

    <div class="scoreboard">
        <div data-control="toolbar">

            <div class="scoreboard-item title-value">
                <h4>This month's sales</h4>
                <?php
                    $total = 0;
                    foreach ($this_months_orders as $item) { $total += $item->price * $item->quantity; }
                ?>
                <p>£<?= number_format($total, 2); ?></p>
                <p class="description">Excludes Shipping</p>
            </div>

            <div class="scoreboard-item title-value">
                <h4>Awaiting Shipping</h4>
                <p><?= count($needs_shipping); ?></p>
            </div>

        </div>
    </div>

    <h4>Outstanding Orders</h4>
    <div class="control-list">
        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>From</span></th>
                    <th><span>User</span></th>
                    <th><span>Total</span></th>
                    <th><span>Created</span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($orders as $order) { if ($order->status != 2) { ?>
                    <tr class="<?php if ($order->status == 1) echo 'frozen'; ?>">
                        <td><?= $order->id; ?></td>
                        <td>
                            <?php
                                $bill_to = json_decode($order->bill_to);
                                $name  = $bill_to->name;
                                $name .= isset($bill_to->surname) ? " {$bill_to->surname}" : "";
                                echo $name;
                            ?>
                        </td>
                        <td><?= $order->user ? $order->user->email : ''; ?></td>
                        <td><?= number_format($order->getTotal(), 2); ?></td>
                        <td><?= $order->created_at; ?></td>
                    </tr>
                <?php } } ?>
            </tbody>
        </table>
    </div>

</div>

<style>
.report-container .title-value {
    margin-top: 0;
}
</style>