<div class="category-description{% if not category.image %} no-image{% endif %}">
    {% if category.image %}
        <div>
            <img src="{{ category.image.getPath() }}" alt="{{ category.name }}" class="category-image" />
        </div>
    {% endif %}
    <div>
        {% if multiple %}
            <h2>{{ category.name }}</h2>
        {% else %}
            <h1>{{ this.page.title }}</h1>
        {% endif %}
        {% if category.description is not empty %}
            {{ category.description|raw }}
        {% endif %}
    </div>
</div>

<div class="list">

    <div class="products">
        {% for product in category.products %}
            {% partial '@product' product=product %}
        {% endfor %}
    </div>

    {% if sub_categories %}
        {% for sub_category in sub_categories %}
            <div class="sub-category">
                <h2>{{ sub_category.name }}</h2>
                <div class="products">
                    {% for product in sub_category.products %}
                        {% partial '@product' product=product %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>