<div itemscope itemtype="http://schema.org/Product" class="product">
    <a href="{{ product_page }}/{{ product.slug }}" title="{{ product.name }}" itemprop="url">
        {% if product.images %}
            <img src="{{ product.images[0].path }}" alt="{{ product.name }}" itemprop="image" class="product-image" />
        {% endif %}
        <span itemprop="name">{{ product.name }}</span>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% set price = product.price|number_format(2, '.', ',') %}
            {% if product.discount_price %}
                {% set price = product.discount_price|number_format(2, '.', ',') %}
                <span class="regular-price">£{{ product.price }}</span>
            {% endif %}
            <span class="price">
                <span itemprop="priceCurrency" content="GBP">£</span><span itemprop="price" content="{{ price }}">{{ price }}</span>
            </span>
        </div>
    </a>
</div>