<?php 

$cost   = $model->cost ?? 0;
$price  = $model->discount_price ? $model->discount_price : $model->price;
$profit = number_format($price - $cost, 2);

$total_sale_price = 0;
$total_quantity   = 0;
foreach ($model->sales as $sale) {
    $total_quantity   += $sale->quantity;
    $total_sale_price += $sale->price * $sale->quantity;
}
?>

<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4>Profit Per Unit</h4>
            <p <?= ($profit > 0) ? 'class="positive"' : 'class="negative"'; ?>>£<?= $profit; ?></p>
            <p class="description">£: unit</p>
        </div>
    </div>
</div>

<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4>All Time Money Taken</h4>
            <p>£<?= number_format($total_sale_price, 2); ?></p>
            <p class="description"><?= $total_quantity; ?> sold</p>
        </div>
    </div>
</div>
