<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>

<div id="conditions">
    <div class="form-group text-field span-left is-required">
        <label>From</label>
        <input type="date" name="from" value="<?= date('Y-m-d', strtotime("1 month ago")); ?>" class="form-control" />
    </div>
    <div class="form-group text-field span-right is-required">
        <label>To</label>
        <input type="date" name="to" value="<?= date('Y-m-d'); ?>" class="form-control" />
    </div>
    <div class="form-group dropdown-field span-left is-required">
        <label>By Frequency</label>
        <select name="by_frequency" class="form-control">
            <option value="0">Daily</option>
            <option value="1" selected>Weekly</option>
            <option value="2">Monthly</option>
        </select>
    </div>
    <div class="form-group span-left">
        <button class="btn btn-default" id="submit">Get Data</button>
    </div>
</div>

<div>
    <canvas id="sales-data" style="width: 100%; height: 400px; display: block;"></canvas>
</div>

<script>
var loaded = false;

$('#conditions #submit').click(function(e) {
    e.preventDefault();
    var from_date    = $('#conditions input[name="from"]').val();
    var to_date      = $('#conditions input[name="to"]').val();
    var by_frequency = $('#conditions select[name="by_frequency"] option:selected').val();
    $(this).request('onSalesByPeriod', {
        data: { 'from': from_date, 'to': to_date, 'by_frequency': by_frequency },
        success: function(data) {
            var results = data.results;
            var dates = [];
            var data = [];
            for(var i in results) {
                dates.push(i);
                data.push(results[i]);
            }
            var ctx = document.getElementById("sales-data");
            var clone = $(ctx).clone();
            var parent = $(ctx).closest('div');
            $(ctx).remove();
            $(parent).append(clone);
            var ctx = document.getElementById("sales-data");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Total Sold',
                        data: data,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        lineTension: 0
                    }]
                }
            });
        }
    });
});
</script>