<h1>Checkout</h1>

{% if checkout.products %}
    <form id="checkout" method="POST">

        {% if error %}
            <div class="message error">{{ error }}</div>
        {% endif %}

        <div id="total">
            <h2>Totals</h2>
            {% partial '@totals' %}
        </div>

        <div class="grid">

            <div class="form">

                <h2>Billing Details</h2>

                {% if not user %}
                <label><input type="radio" name="guest_checkout" value="0" checked /> Create Account</label>
                <label><input type="radio" name="guest_checkout" value="1" /> Guest Checkout</label>
                {% endif %}

                <div>
                    <div>
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" name="billing[name]" required {% if user %}value="{{ user.name }}" {% endif %}/>
                    </div>
                    <div>
                        <label>Surname</label>
                        <input type="text" placeholder="Surname" name="billing[surname]" required {% if user %}value="{{ user.surname }}" {% endif %}/>
                    </div>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="billing[email]" required {% if user %}value="{{ user.email }}" {% endif %}/>
                </div>
                {% if not user %}
                <div id="password">
                    <div>
                        <label>Password</label>
                        <input type="password" placeholder="Password" name="billing[password]" required />
                    </div>
                    <div>
                        <label>Repeat Password</label>
                        <input type="password" placeholder="Repeat Password" name="billing[password_confirmation]" required />
                    </div>
                </div>
                {% endif %}
                <div>
                    <label>Address 1</label>
                    <input type="text" placeholder="Address 1" name="billing[address1]" required {% if user %}value="{{ user.address1 }}" {% endif %}/>
                </div>
                <div>
                    <label>Address 2</label>
                    <input type="text" placeholder="Address 2" name="billing[address2]" {% if user %}value="{{ user.address2 }}" {% endif %}/>
                </div>
                <div>
                    <label>Town</label>
                    <input type="text" placeholder="Town" name="billing[town]" required {% if user %}value="{{ user.town }}" {% endif %}/>
                </div>
                <div>
                    <label>Country</label>
                    <select name="billing[country]" required>
                        {% partial '@countries' %}
                    </select>
                </div>
                <div>
                    <label>Postcode</label>
                    <input type="text" placeholder="Postcode" name="billing[postcode]" required {% if user %}value="{{ user.postcode }}" {% endif %}/>
                </div>

            </div>

            <div class="form">

                <h2>Shipping Details</h2>

                <label><input type="radio" name="_shipping_same_as_billing" value="1" checked /> Same as billing</label>
                <label><input type="radio" name="_shipping_same_as_billing" value="0" /> Different shipping address</label>

                <div style="display: none;" id="shipping-details">
                    <div>
                        <div>
                            <label>First Name</label>
                            <input type="text" placeholder="First Name" name="shipping[name]" />
                        </div>
                        <div>
                            <label>Surname</label>
                            <input type="text" placeholder="Surname" name="shipping[surname]" />
                        </div>
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" placeholder="Email" name="shipping[email]" />
                    </div>
                    <div>
                        <label>Address 1</label>
                        <input type="text" placeholder="Address 1" name="shipping[address1]" />
                    </div>
                    <div>
                        <label>Address 2</label>
                        <input type="text" placeholder="Address 2" name="shipping[address2]" />
                    </div>
                    <div>
                        <label>Town</label>
                        <input type="text" placeholder="Town" name="shipping[town]" />
                    </div>
                    <div>
                        <label>Country</label>
                        <select name="shipping[country]">
                            {% partial '@countries' %}
                        </select>
                    </div>
                    <div>
                        <label>Postcode</label>
                        <input type="text" placeholder="Postcode" name="shipping[postcode]" />
                    </div>
                </div>
            </div>

        </div>

        <div>

            <div>
                <h2>Payment</h2>
                {% if processor == "stripe" %}
                <label for="card-element">Credit or debit card</label>
                <div id="card-element"></div>
                <div id="card-errors" role="alert"></div>
                <br />
                {% endif %}

                <input type="hidden" name="description" value="{{ this.theme.site_name }} Shop Order" />

                {% if processor == "stripe" %}
                    <button type="submit" id="pay">Complete Order</button>
                {% elseif processor == "total_processing" %}
                    <button type="submit" id="pay">Proceed to Payment</button>
                {% endif %}
            </div>

        </div>

    </form>

{% else %}
    <p>No items in Checkout</p>
{% endif %}

{% if processor == "stripe" %}
    <script>
        var stripe_key = "{{ payments.getKey() }}";
    </script>
{% endif %}