<div id="cart">

    <div class="list">
        {% if checkout %}
            {% for item in checkout.products %}
                <div class="product">
                    <div>
                        {% if item.images %}
                            <img src="{{ item.images[0].path }}" alt="{{ item.name }}" itemprop="image" class="product-image" />
                        {% endif %}
                    </div>
                    <div>
                        <h3><a href="{{ product_page }}/{{ item.slug }}" title="{{ item.name }}">{{ item.name }}</a></h3>

                        {% if item.custom %}<p><small>{% for key, value in item.custom %}{{ value }} {% endfor %}</small></p>{% endif %}

                        <div class="quantity">
                            <button data-request="onUpdateUpDownQuantity" data-request-data="cart_id: '{{ item.cart_id }}', quantity: 1, up_or_down: 'down'" method="post" class="up-down">-</button>
                            <span>{{ item.quantity }}</span>
                            <button data-request="onUpdateUpDownQuantity" data-request-data="cart_id: '{{ item.cart_id }}', quantity: 1, up_or_down: 'up'" method="post" class="up-down">+</button>
                            <a href="#" data-request="onRemoveFromCart" data-request-data="cart_id: '{{ item.cart_id }}'" class="remove"><small>Remove</small></a>
                        </div>
        
                        <p>
                            <span>Total</span><br />
                            <span class="total">£{{ item.total_price|number_format(2, '.', ',') }}</span>
                        </p>
        

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Products in Cart</p>
        {% endif %}
    </div>

    <div id="totals">
        <div>
            <h3>Postage</h3>
            {% for ship in shipping %}
                <label><input type="radio" name="postage" value="{{ ship.id }}" id="{{ ship.name|url_encode }}"{% if loop.first %} checked{% endif %} /> {{ ship.name }} - £{{ ship.price|number_format(2) }}</label><br />
            {% endfor %}
        </div>
        <div>    
            <h3>Voucher</h3>
            <input type="text" placeholder="Voucher" name="voucher" /><br />
            <a href="#" id="check-voucher" title="Apply Voucher">Apply Voucher</a>
        </div>
        <br />
        <h3>Totals</h3></span>
        <div>Sub-Total: £<span class="sub-total">{{ checkout.sub_total|number_format(2, '.', ',') }}</span></div>
        <div class="discount"></div>
        <div>Shipping: £<span class="shipping">{{ checkout.shipping|number_format(2, '.', ',') }}</span></div>
        <div class="total">
            <span style="font-size: 2rem;">£<span class="total">{{ checkout.total|number_format(2, '.', ',') }}</span></span>
        </div>
        <input type="hidden" name="total" value="{{ checkout.total }}" />
    </div>

</div>