#shop .category-image, #shop .product-image, #product .product-image, #cart .product-image {
    width: 100%;
}

#shop .category-description {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2.5rem;
    grid-gap: 1.5rem;
}

#shop .category-description.no-image {
    grid-template-columns: 1fr;
}

#shop .category-description h1 {
    margin-top: 0;
}

#shop .list .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
}

@media (max-width: 768px) {
    #shop .category-description {
        grid-template-columns: 1fr;
    }
}

#product .header {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
}

#product .header h1 {
    margin-top: 0;
}

@media (max-width: 768px) {
    #product .header {
        grid-template-columns: 1fr;
    }
}

#cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2.5rem;
}

#cart .product {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 2fr;
}

#cart form button {
    padding: 0;
    text-decoration: none;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    box-shadow: none;
}

#cart .quantity form button {
    width: 1rem;
}

#cart .quantity form {
    display: inline;
}

@media (max-width: 768px) {
    #cart {
        grid-template-columns: 1fr;
    }
    #cart .product {
        grid-template-columns: 1fr;
    }
    #cart #totals {
        grid-column: 1;
    }
}

#reviews .message, #checkout .message.error {
    background-color: red;
    color: white;
    padding: 1rem 1.5rem;
}

#reviews .message {
    background-color: lightblue;
}

#checkout .submitting {
    opacity: 0.5;
}

#checkout .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}

@media (max-width: 768px) {
    #checkout .grid {
        grid-template-columns: 1fr;
    }
}

.wpwl-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.wpwl-container > iframe {
    background-color: #fff;
    margin: 0 2.5rem;
}