{% if orders %}
    <ul>
    {% for order in orders %}
        <li>
            {{ order.id }} - {{ order.created_at }}<br />
            {% for item in order.items %}
                {{ item.quantity }} x {{ item.product.name }}<br />{% if item.product.virtual_product %}<a href="#" title="Download" data-request="onDownload" data-request-data="order_id: {{ order.id }}, product_id: {{ item.product.id }}">Download</a><br />{% endif %}
            {% endfor %}
            Total £{{ order.total }} (£{{ order.shipping_price }} shipping)
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>No orders yet</p>
{% endif %}
