subject = "Seller Account at Superhuman Sports"
==

We have created you as a seller for our Superhuman Sports shop platform. In order to receive money from us we need you to connect your Stripe account with ours.

Please follow the link below and follow the instructions. Once complete, we can start uploading your products. When a sale is made you will receive a fulfilment email. The percentage money owed to you will be automatically transferred to your Stripe account once funds have cleared.

{{ link }}

==

<p>We have created you as a seller for our Superhuman Sports shop platform. In order to receive money from us we need you to connect your Stripe account with ours.</p>

<p>Please follow the link below and follow the instructions. Once complete, we can start uploading your products. When a sale is made you will receive a fulfilment email. The percentage money owed to you will be automatically transferred to your Stripe account once funds have cleared.</p>

<p><a href="{{ link }}" title="Stripe Connect">Connect your Stripe account</a></p>