subject = "Order Notification"
==

An order has been placed.

{% for product in products %}
    {{ product.quantity }} x {{ product.name }} £{{ product.total }}
    {% if product.custom|length > 0 %}
        {% for key, custom in product.custom %}
            {{ key }}: {{ custom }}
        {% endfor %}
    {% endif %}
    {% if product.virtual_product %}
        Virtual Product. Please download from your account
    {% endif %}
{% endfor %}

Shipping Info -
{{ ship_to.name }}
{{ ship_to.address }}

==

<p>An order has been placed.</p>

{% for product in products %}
    <p>{{ product.quantity }} x {{ product.name }} £{{ product.total }}<br />
        {% if product.custom|length > 0 %}
            {% for key, custom in product.custom %}
                {{ key }}: {{ custom }}<br />
            {% endfor %}
        {% endif %}
        {% if product.virtual_product %}
            Virtual Product. Please download from your account
        {% endif %}
    </p>
{% endfor %}

<p>Shipping Info -<br />
{{ ship_to.name }}<br />
{{ ship_to.address }}</p>