subject = "Your Order"
==

Hi {{ name }},

We've received your order and will be in touch as soon as it's shipped.

Your Products -
{% for product in products %}
    {{ product.quantity }} x {{ product.name }} £{{ product.total }}
    {% if product.custom|length > 0 %}
        {% for key, custom in product.custom %}
            {{ key }}: {{ custom }}
        {% endfor %}
    {% endif %}
    {% if product.virtual_product %}
        Virtual Product. Please download from your account
    {% endif %}
{% endfor %}

Shipping cost you £{{ shipping }}

Your Billing Info -
{{ bill_to.name }} {{ bill_to.surname }}
{{ bill_to.address1 }}
{{ bill_to.address2 }}
{{ bill_to.town }}
{{ bill_to.country }}
{{ bill_to.postcode }}

Your Shipping Info -
{{ ship_to.name }} {{ ship_to.surname }}
{{ ship_to.address1 }}
{{ ship_to.address2 }}
{{ ship_to.town }}
{{ ship_to.country }}
{{ ship_to.postcode }}

Thanks

==

<p>Hi {{ name }},</p>

<p>We've received your order and will be in touch as soon as it's shipped.</p>

{% for product in products %}
    <p>{{ product.quantity }} x {{ product.name }} £{{ product.total }}<br />
        {% if product.custom|length > 0 %}
            {% for key, custom in product.custom %}
                {{ key }}: {{ custom }}<br />
            {% endfor %}
        {% endif %}
        {% if product.virtual_product %}
            Virtual Product. Please download from your account
        {% endif %}
    </p>
{% endfor %}

<p>Shipping cost you £{{ shipping }}</p>

<table width="100%">
    <tr>
        <td>
            Your Billing Info -<br />
            {{ bill_to.name }} {{ bill_to.surname }}<br />
            {{ bill_to.address1 }}<br />
            {{ bill_to.address2 }}<br />
            {{ bill_to.town }}<br />
            {{ bill_to.country }}<br />
            {{ bill_to.postcode }}<br />
        </td>
        <td>
            Your Shipping Info -<br />
            {{ ship_to.name }} {{ ship_to.surname }}<br />
            {{ ship_to.address1 }}<br />
            {{ ship_to.address2 }}<br />
            {{ ship_to.town }}<br />
            {{ ship_to.country }}<br />
            {{ ship_to.postcode }}<br />
        </td>
    </tr>
</table>

Thanks
