subject = "Your Order has been Shipped"
==

We have shipped items from your order. Please let us know if you have any problems.

Your Address -
{{ shipping.name }} {{ shipping.surname }}
{{ shipping.address1 }}
{{ shipping.address2 }}
{{ shipping.town }}
{{ shipping.country }}
{{ shipping.postcode }}

Items -
{% for item in items %}
    {{ item.product.name }}
{% endfor %}

Thanks

==

<p>We have shipped items from your order. Please let us know if you have any problems.</p>
<p>Shipping Address -<br />
    {{ shipping.name }} {{ shipping.surname }}<br />
    {{ shipping.address1 }}<br />
    {{ shipping.address2 }}<br />
    {{ shipping.town }}<br />
    {{ shipping.country }}<br />
    {{ shipping.postcode }}<br />
</p>

Items -
<ul>
    {% for item in items %}
        <li>{{ item.product.name }}</li>
    {% endfor %}
</ul>

<p>Thanks</p>
