{% if results %}
<div id="list">
    {% for product in results %}
	{% if not product.trashed() %}
    <div class="list-item">
        <a href="/product/{{ product.id }}" title="{{ product.name }}">
            <img src="{{ product.image }}" alt="{{ product.name }}">
            {{ product.name }}
        </a>
    </div>
	{% endif %}
    {% endfor %}
{% else %}
<p>No Results Found</p>
{% endif %}
