<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar" data-disposable>

            <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-file" data-disposable="">
                Create Items
            </a>

            <button
                class="btn btn-sm btn-secondary oc-icon-trash-o"
                onclick="$(this).data('request-data', {
                            checked: $('#Orders-update-RelationController-items-view .control-list').listWidget('getChecked')
                        })"
                data-request="onRelationButtonDelete"
                data-request-confirm="Are you sure?"
                data-request-success="$.oc.relationBehavior.changed('items', 'deleted')"
                data-trigger-action="enable"
                data-trigger="#Orders-update-RelationController-items-view .control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-stripe-load-indicator="">
                    Delete
            </button>

            <button
                class="btn btn-sm btn-secondary oc-icon-trash-o"
                onclick="$(this).data('request-data', {
                            checked: $('#Orders-update-RelationController-items-view .control-list').listWidget('getChecked')
                        })"
                data-request="onShip"
                data-request-success="$.oc.relationBehavior.changed('items', 'updated')"
                data-trigger-action="enable"
                data-trigger="#Orders-update-RelationController-items-view .control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-stripe-load-indicator="">
                    Ship Items
            </button>

        </div>
    </div>
</div>