<?php $value = json_decode($value); ?>

<?php if ($value && !isset($value->surname)) { ?>

<input type="text" name="Order[bill_to][name]" class="form-control" value="<?= $value->name ?? ''; ?>" /><br />
<input type="text" name="Order[bill_to][email]" class="form-control" value="<?= $value->email ?? ''; ?>" /><br />
<textarea name="Order[bill_to][address]" class="form-control field-textarea size-large" required>
<?= $value->address ?? ''; ?>
</textarea>

<?php } else { ?>

<div class="form-group span-left">
    <div class="form-group span-left">
        <label>Name</label>
        <input type="text" name="Order[bill_to][name]" class="form-control" value="<?= $value->name ?? ''; ?>" />
    </div>
    <div class="form-group span-right">
        <label>Surname</label>
        <input type="text" name="Order[bill_to][surname]" class="form-control" value="<?= $value->surname ?? ''; ?>" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="Order[bill_to][email]" class="form-control" value="<?= $value->email ?? ''; ?>" />
    </div>
</div>

<div class="form-group span-left">
    <div class="form-group">
        <label>Address 1</label>
        <input type="text" name="Order[bill_to][address1]" class="form-control" value="<?= $value->address1 ?? ''; ?>" />
    </div>
    <div class="form-group">
        <label>Address 2</label>
        <input type="text" name="Order[bill_to][address2]" class="form-control" value="<?= $value->address2 ?? ''; ?>" />
    </div>
    <div class="form-group">
        <label>Town</label>
        <input type="text" name="Order[bill_to][town]" class="form-control" value="<?= $value->town ?? ''; ?>" />
    </div>
    <div class="form-group">
        <label>Country</label>
        <input type="text" name="Order[bill_to][country]" class="form-control" value="<?= $value->country ?? ''; ?>" />
    </div>
    <div class="form-group">
        <label>Postcode</label>
        <input type="text" name="Order[bill_to][postcode]" class="form-control" value="<?= $value->postcode ?? ''; ?>" />
    </div>
</div>
<div class="form-group span-right">
    <label>Copyable Address</label>
    <address>
        <?= $value->address1 ?? ''; ?>,<br />
        <?= $value->address2 ?? ''; ?>,<br />
        <?= $value->town ?? ''; ?>,<br />
        <?= $value->country ?? ''; ?><br />
        <?= $value->postcode ?? ''; ?>
    </address>
</div>

<?php } ?>