<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('monologophobia/shop/orders') ?>">Orders</a></li>
    <li>Order</li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?php Block::put('form-contents') ?>

    <div class="layout-row">
        <?= $this->formRenderOutsideFields() ?>
        <?= $this->formRenderPrimaryTabs() ?>
    </div>

<?php Block::endPut() ?>

<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <div><?= $this->formRenderSecondaryTabs() ?></div>
    </div>
<?php Block::endPut() ?>

<?php Block::put('body') ?>
    <?= Form::open(['class'=>'layout']) ?>
        <?= $this->makeLayout('form-with-sidebar') ?>
    <?= Form::close() ?>
<?php Block::endPut() ?>

<?php else: ?>
<div class="control-breadcrumb">
    <?= Block::placeholder('breadcrumb') ?>
</div>
<div class="padded-container">
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('monologophobia/shop/orders') ?>" class="btn btn-default">Return to Orders</a></p>
</div>
<?php endif ?>
