<?php $value = json_decode($value); ?>

<?php if ($value && !isset($value->surname)) { ?>

    <input type="text" name="Order[ship_to][name]" class="form-control" value="<?= $value->name ?? ''; ?>" /><br />
    <input type="text" name="Order[ship_to][email]" class="form-control" value="<?= $value->email ?? ''; ?>" /><br />

<?php } else { ?>

    <div>
        <div class="form-group span-left">
            <input type="text" name="Order[ship_to][name]" class="form-control" value="<?= $value->name ?? ''; ?>" />
        </div>
        <div class="form-group span-right">
            <input type="text" name="Order[ship_to][surname]" class="form-control" value="<?= $value->surname ?? ''; ?>" />
        </div>
    </div>

    <div>
        <label>Email</label>
        <input type="email" name="Order[ship_to][email]" class="form-control" value="<?= $value->email ?? ''; ?>"  />
    </div>

<?php } ?>