<div class="form-group dropdown-field">
    <select class="form-control custom-select" name="Order[shipping]">
        <?php foreach ($model->getShippingOptions() as $key => $value) { ?>
            <option value="<?= $key; ?>"<?php if ($model->shipping_id && ($model->shipping_id == $key)) echo ' selected'; ?>><?= $value; ?></option>
        <?php } ?>
    </select>
</div>
