<p>
    Total:<br />
    <span style="font-size: 3rem;">£<?= number_format($formModel->getTotal(), 2); ?></span>
</p>

<p>
    Sub-Total: £<?= number_format($formModel->getSubTotal(), 2); ?><br />
    Discount: £<?= number_format($formModel->discount, 2); ?><br />
    Shipping: £<?= number_format($formModel->shipping_price, 2); ?>
</p>

<div style="margin-top: 2.5rem; text-align: center;">

    <button
        type="button"
        data-request="onUpdateOrder"
        data-request-data="close:true"
        data-hotkey="ctrl+enter, cmd+enter"
        data-load-indicator="Saving..."
        style="margin-bottom: 1rem;"
        class="btn">
        Save Changes
    </button>

    <button
        type="button"
        data-request="onComplete"
        data-request-data="close:true"
        data-hotkey="ctrl+enter, cmd+enter"
        data-load-indicator="Completing..."
        style="margin-bottom: 1rem;"
        class="btn btn-success">
        Complete Order
    </button>

    <a
        href="/backend/monologophobia/shop/orders/clickAndDropExport/<?= $formModel->id; ?>"
        download
        style="margin-bottom: 1rem;"
        class="btn btn-warning">
        Shipping CSV
    </a>

    <button
        type="button"
        data-request="onCancel"
        data-request-data="close:true"
        data-request-confirm="Are you sure you want to cancel this order?"
        data-load-indicator="Cancelling Order..."
        style="margin-bottom: 1rem;"
        class="btn btn-danger">
        Cancel Order
    </button>

</div>