<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/shop/shipping') ?>">Shipping Options</a></li>
        <li>New Shipping Option</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class'=>'layout']) ?>

    <div class="layout-row">
        <?= $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:true"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Creating Shipping Option..."
                class="btn btn-default btn-primary">
                Create and Close
            </button>
            <span class="btn-text">
                or <a href="<?= Backend::url('monologophobia/shop/shipping') ?>">Cancel</a>
            </span>
        </div>
    </div>

<?= Form::close() ?>

<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('monologophobia/shop/shipping') ?>" class="btn btn-default">Return to Shipping</a></p>
    </div>
<?php endif ?>
